.article-list {
    flex-direction: row;
    flex-wrap: wrap;

    article {
        flex: 1 1 307px;
    }
}

.main .article-list article .article-category a {
    
    background-color: aquamarine;

    &.custom_150cc {

        &.NI {
            background-color: #8ae07b;
        }

        &.Shroom {
            background-color: #3999f9;
        }
    }

    &.custom_200cc {
        background-color: #fa8993;
    }

    &[class^="custom_D"] {
        background-color: #EADE4A;
    }

    &[class^="custom_B"] {
        background-color: #BA4AEA;
    }

    &:nth-child(even) {
        background-color: rgb(137, 134, 131);
        }
}