.article-list {
    flex-direction: row;
    flex-wrap: wrap;

    article {
        flex: 1 1 307px;
    }
}

.main .article-list article .article-category a {

    transition: transform .2s;

    &:hover {
        transform: scale(1.1);
    }
    
    background-color: aquamarine;

    &.custom_150cc {

        &.NI {
            background-color: #8ae07b;
        }

        &.Shroom {
            background-color: #3999f9;
        }
    }

    &.custom_200cc {
        background-color: #fa8993;
    }

    &[class^="custom_D"] {
        background-color: #EADE4A;
    }

    &[class^="custom_B"] {
        background-color: #BA4AEA;
    }

    &[class^="custom_R"] {
        background-color: #ea6f4a;
    }

    &[class="custom_BDD"],&[class="custom_BC"],&[class="custom_DS"],&[class="custom_RR"] {
        background-color: aquamarine;
    }

    &:nth-child(even) {
        background-color: rgb(137, 134, 131);
        }
}

.article-title {

    text-align: center;
    transition: transform .2s;

    &:hover {
        transform: scale(1.1);
    }
}

.site-name {

    text-align:center;
    transition: transform .2s;

    &:hover {
        transform: scale(1.1);
    }
}

.site-logo {

    transition: transform .2s;

    &:hover {
        transform: scale(1.1);
    }
}

.article-image {

    transition: transform .2s;

    &:hover {
        transform: scale(1.05);
    }
}